body{
    background-color: black;
}

h1{
    background-color: white;
}

.ball{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;

    font-size: 22px;
    font-weight: bold;
    transition: 1000;
    
    
    
    
}